<div class="float-end d-flex gap-3">
    <a class="btn btn-outline-primary" href="{{ url }}account/login/">Log In</a>
    <a class="btn btn-primary" href="{{ url }}account/register/">Register</a>
</div>
