<div class="password-criteria mt-3">
	<p class="fw-semibold mb-2">Password must contain:</p>
	<ol id="password-criteria" class="list-unstyled mb-0">
		<li class="password-criteria-item criteria-length">At least 8 characters</li>
		<li class="password-criteria-item criteria-uppercase">1 Uppercase character
			<strong>(A-Z)</strong>
		</li>
		<li class="password-criteria-item criteria-lowercase">1 Lowercase character
			<strong>(a-z)</strong>
		</li>
		<li class="password-criteria-item criteria-number">1 Number
			<strong>(0-9)</strong>
		</li>
		<li class="password-criteria-item criteria-special">1 Special character
			<strong>(!$#%)</strong>
		</li>
	</ol>
</div>
