<div class="bg-white border-bottom">
    <div class="container py-2">
        <ul class="nav nav-pills gap-3 fs-5" id="user-nav">
            <li class="nav-item">
                <a class="nav-link fw-semibold" href="{{ url }}account/profile/">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-semibold" href="{{ url }}account/favorites/">Favorites</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-semibold" href="{{ url }}account/history/">History</a>
            </li>
        </ul>
    </div>
</div>
