<div class="float-end d-flex gap-3">
	<a class="btn btn-outline-primary" href="{{ url ~ 'account/login/index.php' }}">Log In</a>
	<a class="btn btn-primary" href="{{ url ~ 'account/register/index.php' }}">Register</a>
</div>
