<div class="float-end dropdown">
	<button class="btn btn-outline-secondary dropdown-toggle ms-5" data-bs-toggle="dropdown">
		{{ user.username }}
	</button>
	<ul class="dropdown-menu dropdown-menu-end">
		<li>
			<a class="dropdown-item" href="/account/profile/index.php">Profile</a>
		</li>
		<li>
			<a class="dropdown-item" href="/account/editor/index.php">Editor</a>
		</li>
		<li>
			<a class="dropdown-item" href="/account/logout/index.php">Sign Out</a>
		</li>
	</ul>
</div>
