{% extends 'layout.html.twig' %}

{% block title %}
	Profile | EtyDict
{% endblock %}

{% block body %}
	<div class="container py-5">
		<h1 class="display-5 fw-bold">Profile</h1>
	</div>
{% endblock %}

{% block user_nav %}
	{% if user is defined and user %}
		{% include 'user_nav.html.twig' %}
	{% endif %}
{% endblock %}
