<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Reset Password Email Preview</title>
	</head>
	<body>
		<pre>
Dear {{ user.username }},

We received a request to reset your EtyDict password.

Click the link below to continue with the reset process:
http://localhost{{ url }}account/reset-password?token={{ token }}

This link will expire in 1 hour.
If you did not request this change, you can safely ignore this message.

Best regards,
The EtyDict Team
        </pre>
	</body>
</html>
